<div class="news-grid">
  <div class="row">
    <h6 style="float: left;"><span class="label label-danger">New</span></h6>
    <h4 style="padding: 0 2%;width: 65%;" class="pull-left">
    <%=  link_to announcements.heading, announcements %>
    </h4>
    <%= if !announcements.attachment_url.blank?
          link_to "Download", announcements.attachment_url, class: "pull-right"
        end %>
  </div>
  <div style="word-wrap: break-word;"><%= truncate_middle(announcements.description, length: 50) %></div>
</div>