<div class="footer">
  <div class="container">
    <div class="ftr-sec">
      <div class="col-md-6 ftr-grid">
        <h3>From Vice Chancellor's Desk</h3>
        <img src="http://www.hpuniv.in/wp-content/themes/Himachal/images/VC_img.jpg" alt="" class="pull-left img-circle margin-right-10 ">
        <p>Prof. A. D. N. Bajpai</p>
        <p class="small color1">Vice Chancellor</p>
        <p class="text-justify">It is my privilege to welcome you to Himachal Pradesh University which has a picturesque campus spreading
          across an area
          of over 200 acres with majestic buildings, rhododendron, silver oak, pine and deodar trees offering a
          salubrious climate and amiable atmosphere for higher studies and research. </p>

        <p class="text-justify">It is one of the leading affiliating-cum-residential universities in India.  Situated at Summer Hill,
          a Suburb of Shimla, the University aims at developing students into knowledgeable individuals and worthy citizens with sound
          character.</p>
      </div>
      <div class="col-md-3 ftr-grid2">
        <h3>Pages</h3>
        <ul>
          <li><%= link_to :Home, controller: 'home' %></li>
          <li><%= link_to :Department, controller: 'home', action: 'department' %></li>
          <li> <%= link_to :Results, controller: 'results' %></li>
          <li> <%= link_to :Announcements, controller: 'announcements' %></li>
          <!--<li><a href="blog.html">Blog</a></li>-->
          <!--<li><a href="gallery.html">Gallery</a></li>-->
          <!--<li><a href="contact.html">Contact</a></li>-->
        </ul>
      </div>
      <div class="col-md-3 ftr-grid3">
        <!--<h3>Quick links</h3>-->
        <!--<ul>-->
          <!--<li><a href="about.html"><span></span>History</a></li>-->
          <!--<li><a href="about.html"><span></span>Departments</a></li>-->
          <!--<li><a href="gallery.html"><span></span>Services</a></li>-->
          <!--<li><a href="blog.html"><span></span>Guidances</a></li>-->
          <!--<li><a href="about.html"><span></span>Team</a></li>-->
          <!--<li><a href="contact.html"><span></span>Contact</a></li>-->
        <!--</ul>-->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>