<div class="banner2">
  <div class="header">
    <div class="logo">
      <a href="/"><%= image_tag('logo.jpg')  %></a>
      <label class="label" style="font-size: .8em">DEPARTMENT OF COMPUTER SCIENCE. HPU SHIMLA CAMPUS</label>
    </div>
    <%=render partial: 'partials/navigation'%>
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $("ul.navig").slideToggle("slow", function () {
            });
        });
    </script>
    <!-- script-for-menu -->
    <div class="clearfix"></div>
  </div>
</div>