<div class="top-menu">
  <span class="menu"></span>
  <ul class="navig">
    <li><%= link_to :Home, controller: 'home', action: 'index' %></li>
    <li class="active"><%= link_to :About,controller: 'home',action: 'about' %></li>
    <li> <%= link_to "Entrance Result",controller: 'results',action: 'index' %></li>
    <!--<li><a href="blog.html">Blog</a></li>-->
    <!--<li><a href="gallery.html">Gallery</a></li>-->
    <!--<li><a href="contact.html">Contact</a></li>-->
  </ul>
</div>