<div class="news-grid">
  <div class="row">
    <h6 style="float: left;"><span class="label label-danger">New</span></h6>
    <h4 style="padding: 0 2%;width: 65%;" class="pull-left" ><a href="#">
      <%= results.name %></a></h4>
    <%= if !results.attachment_url.blank?
          link_to "Download", results.attachment_url, class: "pull-right"
        end %>
  </div>
  <div style="word-wrap: break-word;"><%= truncate_middle(results.description, length: 50) %></div>
</div>