<div class="about-head">
  <h2>About</h2>
  <h4>Pioneer in Coumputer Studies.</h4>

  <p>Setup in 1988-89, the Department of Computer Science, Himachal Pradesh University is one of the most reputed and
    prolific departments in the University today. It aims at the development of technical skills of the students, thus
    producing highly qualified computer professionals. The Department boasts of efficient faculty, proper infrastructure
    and a high-tech laboratory. Proper training facilities and industrial tours are also arranged which contribute to
    moulding the students' career..</p>
</div>
<div class="video-grid">
  <div class="video-info">
    <h3>Mission and Objectives.</h3>
    <h4>To Keep pace with the emerging trends in the computer science and technology.</h4>

    <ul class="list-group">
      <li class="list-group-item">Developing a new class of computer professionals.</li>
      <li class="list-group-item">Achieving academic excellence.</li>
      <li class="list-group-item">Nurturing the students of yesterday into resolute builders of the future.</li>
      <li class="list-group-item">Discover the ultimate in the field of Computer Science..</li>
      <li class="list-group-item">To increase the number of computer literates.</li>
      <li class="list-group-item">To make the forthcoming generations aware of computer education.</li>
      <li class="list-group-item">To impart technical as well as interpersonal skills to the students.</li>
      <li class="list-group-item">To produce computer professionals who can face the challenges of IT Industry.</li>
      <li class="list-group-item">To provide IT based solutions to the society.</li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<div class="our_work">
  <h3>Our Campus</h3>

  <div class="blog-section">
    <div class="col-md-4 camp-grid">
      <%= image_tag('campus.jpg', class: "img-responsive", style: "height: 230px;") %>
      <h4><a href="single.html">University</a></h4>

      <p style="text-align: justify;">The Himachal Pradesh University was founded on July 22, 1970. It is located at
        Summer Hill, Shimla. The
        The location of the University presents a panoramic natural view among
        the woods, settled around Summer Hill. The camps where one half bathes in the fresh sun towards the east and
        another half in the grandeur of unique sunset on the West. Overlooking snow peaked majestic mountain ranges add
        to the lofty ideals and vision of the university. Its salubrious climate and calmness presents congenial
        atmosphere to pursue higher studies.</p>
      <!--<a href="single.html" class="more">[ Read More..]</a>-->
    </div>
    <div class="col-md-4 camp-grid">
      <%= image_tag('classroom.jpg', class: "img-responsive", style: "height: 230px;") %>
      <h4><a href="single.html">Class Rooms</a></h4>

      <p style="text-align: justify;">Department have two fully equipped Computer Labs.
        We uses latest software in the IT industry. Department also have its own lecture rooms and all the clases have
        Over Head Projectors. We insist on using the latest teaching aid. Students are taught to user these are request
        to made Seminars and Presentations. Also they are given small project to complete under the supervision of faculty. </p>
    </div>
    <div class="col-md-4 camp-grid">
      <%= image_tag('library.jpg', class: "img-responsive", style: "height: 230px;") %>
      <h4><a href="single.html">Library</a></h4>

      <p style="text-align: justify;">The University Library is housed in its won multistoreyed building.The Library
        building has adequate space to accommodate more than 450
        readers in reading halls and about 100 Research Scholars in Cubicles on
        Different floors.The Library had a total collection of 1,82,738 books
        including bound volumes of periodcals upto 31-03-2001 (Excluding unbound periodicals and pamphlet literature).
        The number of current periodicals on the subscription list of the Library is 308 costing about 17,50,000/ during
        the year ie 2001-2002.</p>
      <!--<a href="single.html" class="more">[ Read More..]</a>-->
    </div>
    <div class="clearfix"></div>
  </div>
</div>