<div class="about-head">
  <h2>Chairman message</h2>
  <img src="<%= @chairman_image%>" alt="" class="pull-left img-circle margin-right-10 ">
<div class="text-justify">
  <p>After its inception in the year 1989, the Department of Computer Science is at present offering
    a 3-years Master of Computer Applications Program,a 2-year Master of Technology Program and a Ph.D. program in the Department.
    The Department has earned a brand name in the academics as well as in the industry, not only in India but also abroad.
    The extremely skillful, determined and focused set of Computer Science professionals being produced by the department are second
    to none in the world today.</p>
  <br>
    <p>
    The students in the Department are being nurtured by a set of highly qualified, motivated, and progressive group of young
    intellectual faculty members who are in the habit of taking any latest technological challenge head-on and delivering the best
    possible end results. All through, we have been striving hard to continuously provide our students the latest technological
    exposure by making them work on almost all the latest technological environments, giving them the complete understanding of
    the best theoretical concepts along with ample hands-on practice.</p>
    <p>The field of Computer Science is growing exponentially and has started touching almost all the aspects of daily life of even the
    common man. With our growing economy, you as professionals/academicians in the making definitely have a prominent constructive
    role to play in shaping the day-to-day life of tomorrow.</p>
    <br>
  <b>I am confident that your higher education journey through the Department of Computer Science will give you the richest experiences of your life.
    I wish you grand success in all the endeavours of life.</b>
</div>
<br>
  <p>Prof. Manu Sood</p>
  <p class="small color1">Chairman</p>



</div>